.card {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  
  
  .card  {
      block-size: auto;
    border: none;
    outline: 0;
    border-radius:10px;
   text-align: center;
    cursor: pointer;
    width: 100%;
    
  }
  .ku{
     
      margin-top:auto;
      font-size: 20px;
      letter-spacing: 2px;
      font-weight: 900;
  text-align:center;
  }
  .btr{
      letter-spacing: 0.5px;
      font-size: 1rem;
      margin: 1.5rem;
      padding: 10px ;
      border-radius: 8px;
      color: #fff;
      cursor: pointer;
      background: linear-gradient(to right, #15c494,#15c494);
  }
  h1{
      padding: auto;
    margin-top: 50px;
      letter-spacing: 1px;
      color: #15c494;
  }
  .card .btr:hover {
    opacity: 0.7;
  }
  img{
  
    width:100%;
  }
  h1{
    margin-top: 7%;
    font-size: 2.5em;
    text-align:center;
  }